<style>
</style>

<div>
</div>

<script>
    
    {#another topic#} {#dont because location, but yes for another (store)#}
        
    {#another search#} {#yes because location, but not for another (store)#}
         
    {#=(O)#} {#or according to the div parent id#}
    function chooseSearchResults()
    {
        {#this pink div#}
        var UserType_selecter = document.getElementById().value;
        var selecter = "";
        
        if (UserType_selecter == "location")
        {
            selecter = "child_searchLocation";
        } else
        {
            selecter = "searchStore";
        }
    }
    
    {#(+)#} {#or according to the div parent id#}
    function chooseTopicResults()
    {
        {#this fuchsia div#}
        
    }
    
</script>