<div id="storeMenu-storeBundle">
    {{ include('@Store/Default/menu/refresh.html.twig') }}
</div>
<div id="artistList-storeBundle" results=0 interactions=0 class="lista_personalizada" >
    artist
</div>