<div id="locationList-storeBundle" results=0 interactions=0 class="lista_personalizada">
    location
</div>


{#<div id="home-location-list">
    LOCATION LIST
</div>#}

{#
<script>
    
    $('#keep_refreshing_btn')
    .click(function () {
        getProducts();
    });
    
    
</script>#}