<style>
    #searchStore_div {
        position: relative;
        display: inline-block;
        padding: 10px;
        {#background-color: orange;#}
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height:auto;
    }
    
    #searchList-storeBundle {
        position: relative;
        display: inline-block;
        padding: 10px;
        {#background-color: red;#}
        width: 100%;
        {#height: auto;#}
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .div_keyword 
    {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    .div_usertype 
    {
        position: absolute;
        top: 0px;
        left: 150px;
    }
    
    .delete_object_btn 
    {
        position: absolute;
        top: 0px;
        left: 220px;
    }
</style>
    
{{ form_start(get_userType_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-userType-ajax'|default('form')} }) }}
{{ form_end(get_userType_form_ajax) }}

{{ form_start(storeBundle1.storeBundle2.search_topic_product_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'search-topic-product-ajax'|default('form')} }) }}
{{ form_end(storeBundle1.storeBundle2.search_topic_product_form_ajax) }}

<div id='searchStore_div' attemptsAmount = 0>
</div>

<div id="searchList-storeBundle" results=0 interactions=0>
</div>

<script>
    function loadSearchStoreDiv_menu()
    {
        {#alert("loadSearchStoreDiv_menu()");#}
        var placeId = "searchStore_div";
        
        var attemptsAmount = $("#searchStore_div").attr("attemptsAmount");
        if (attemptsAmount == 0)
        {
            attemptsAmount++;
            $("#searchStore_div").attr("attemptsAmount", attemptsAmount);
            var userType = 0;
            add_container(placeId, attemptsAmount, userType); // invocations
            add_search_menu(placeId);
        }
    }
    
    $("#searchStore_div")
    .click(function () {
        loadSearchStoreDiv_menu();
    });
    
    function add_search_menu(placeId)
    {
        var search_menu = document.createElement("div");
        search_menu.id = "search_menu" + placeId;
        search_menu.className = "search_menu";
        search_menu.style.width = "100%";
        search_menu.style.height = "auto";
        document.getElementById(placeId).appendChild(search_menu);
        
        {#add_searchButton(search_menu, placeId);#}
        add_search_topic_product(search_menu, placeId);
    }
    
    function get_topicMember(placeId)
    {
        var object_array = new Array();
        var i = 0;
        var j = 0;
        object_array[i] = new Array();
        object_array[i][j] = new Array();

        var topic = document.getElementById(placeId);
        if (topic)
        {
            var topic = document.getElementById(placeId);

            var send1234 = topic.lastChild;
            send1234.id;
            {#send1234.style.backgroundColor = "yellow";#}

            var send1 = send1234.previousSibling;
            send1.id;
            {#send1.style.backgroundColor = "blue";#}
            
            

            var second = send1.children;
            {#alert("second "+second);#}

            {#second[0].style.backgroundColor = "fuchsia";
            second[1].style.backgroundColor = "yellow";
            second[2].style.backgroundColor = "pink";#}
            {#second[3].style.backgroundColor = "red";#}

            var third_level = second[3].children;

            var h = 0;
            var i = 0;
            while (third_level[i])
            {
                {#alert("i "+i);#}
                if (i % 2 == 0)
                {
                    var keyword_tm = $("#"+third_level[i].id).attr("keyword");
                    var userType_tm = $("#"+third_level[i].id).attr("userType");
                    
                    {#alert(keyword_tm + " - " + userType_tm);#}
                    
                    topic_product_array[h] = new Array();
                    topic_product_array[h][0] = keyword_tm;
                    topic_product_array[h][1] = userType_tm;
            
                    h++;
                    {#third_level[i].style.backgroundColor = "yellow";#}
                } else
                {
                    {#third_level[i].style.backgroundColor = "pink";#}
                }

                i++;
            }
        }
    }
    
    function add_search_topic_product(search_menu, placeId)
    {
        var search_topic_product_button = document.createElement("img");
        search_topic_product_button.id = "search_topic_product_button";
        search_topic_product_button.className = "boton_personalizado relativePosition";
        search_topic_product_button.src = "files/images/icons/store/search.png";
        search_topic_product_button.alt = "";
        search_topic_product_button.addEventListener("click", function () {
            get_topicMember(placeId);
            search_topic_product(placeId, "searchList-storeBundle");
        });
        search_menu.appendChild(search_topic_product_button);
    }
    
    ///////////////////////////
    
    $("#searchList-storeBundle")
    .mouseover(function () {
        var currentList_content = document.getElementById("searchList-storeBundle");
        currentList_content.classList.add("visibleScroll");
    })
    .mouseout(function () {
        var currentList_content = document.getElementById("searchList-storeBundle");
        currentList_content.classList.remove("visibleScroll");
    });
</script>

<script>
    function search_topic_product(placeId, divToDraw)
    {
        var form = $('#search-topic-product-ajax');
        var url = form.attr('action');

        if (!$("#"+divToDraw).attr("first_result") || 
            !$("#"+divToDraw).attr("max_results") || 
            !$("#"+divToDraw).attr("divToDraw"))
        {
            $("#"+divToDraw).attr("first_result", 0);
            $("#"+divToDraw).attr("max_results", 5);
            $("#"+divToDraw).attr("divToDraw", divToDraw);
        }
        
        var first_result = $("#"+divToDraw).attr("first_result");
        var max_results = $("#"+divToDraw).attr("max_results");
        var new_first_result = parseInt(first_result) + parseInt(max_results);
        $("#"+divToDraw).attr("first_result", new_first_result);

        $.post(url, {topic_product_array: topic_product_array,
        first_result: first_result,
        max_results: max_results}, function (data)
        {
            var amountProducts = data[0].amountProducts;
            for (i = 0; i < amountProducts; i++)
            {
                var productId = data[i].productId;
                var productName = data[i].productName;
                var amount = data[i].amount;
                var currencyId = data[i].currencyId;
                var currencyName = data[i].currencyName;
                var productDescription = data[i].productDescription;
                var productImage = data[i].productImage;
                var productScore = data[i].productScore;
                var topicId = data[i].topicId;
                {#alert(' - '+productId);#}
                
                var queryType = "topicmemberProduct";
                var divToDraw = "searchList-storeBundle";
                
                drawProduct_List(
                    productDescription, 
                    productId, 
                    productName, 
                    amount, 
                    data[i], 
                    productImage, 
                    productScore, 
                    queryType, 
                    amount, 
                    divToDraw 
                );
            }
            {#alert('#search-topic-product-ajax '+amountProducts+" - "+topicId+"-"+productId);#}
        }).fail(function () {
            alert('ERROR #search-topic-product-ajax');
        });
    }
</script>