<style>
    #ball {
        position: absolute;
        height: 30px;
        width: 30px;
        {#background-color: yellow;#}
        justify-content: center;
        display: flex;
        overflow: hidden;
    }
</style>

<div id="ball">
    {{ include('@Home/home/configuration/iconImage/videoSize.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/displaceDivs.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/fontColorDivs.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/donate.html.twig') }}
</div>
