#signUpUser {
/*    position: absolute;*/
/*    position: relative;*/
    top: 0px;
    left: 0px;
    bottom: 50px;
    right: 0px;
/*    background-color: rgba(255, 255, 255, 0.4);*/
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    text-shadow: 0px 0px 0px;
}

#user_biography {
    height: 300px;
    width: 100%;
    color: gray;
    resize: none;
    overflow-y: scroll;
}







#user_name_signUpDiv {
/*    position: absolute;
    top: 0px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_name_signUpInput {
/*    position: absolute;
    top: 0px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: gray;
    border: 0;
    align-content: center;*/
/*width: 100%;*/
}



/*        text-transform: uppercase;*/


#user_email_signUpDiv {
/*    position: absolute;
    top: 50px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_email_signUpInput {
/*    position: absolute;
    top: 50px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: gray;
    border: 0;
    align-content: center;*/
}
/*        text-transform: uppercase;*/

#user_password_signUpDiv {
/*    position: absolute;
    top: 100px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_password_signUpInput {
/*    position: absolute;
    top: 100px;
    left: 120px; 
    width: 260px;
    text-align: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: gray;
    border: 0;
    align-content: center;*/
}

/*        text-transform: uppercase;*/

#hide_user_password_signUpDiv {
    position: absolute;
    top: 0px;
    right: 0px; 
}

#user_password_confirmation_signUpDiv {
/*    position: absolute;
    top: 150px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_password_confirmation_signUpInput {
/*    position: absolute;
    top: 150px;
    left: 120px; 
    width: 260px;
    text-align: left;
    height: 30px;
    color: gray;
    border: 0;*/
/*    background-color: rgba(255, 255, 255, 0.5);*/
    /*align-content: center;*/
}

#hide_user_password_confirmation_signUpDiv {
    position: absolute;
    top: 0px;
    right: 0px; 
}


#user_firstGivenName_signUpDiv {
/*    position: absolute;
    top: 200px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_firstGivenName_signUpInput {
/*    position: absolute;
    top: 200px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: gray;
    border: 0;
    align-content: center;*/
}

#user_secondGivenName_signUpDiv {
/*    position: absolute;
    top: 250px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_secondGivenName_signUpInput {
/*    position: absolute;
    top: 250px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 30px;
    color: gray;
    border: 0;*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*align-content: center;*/
}

#user_firstFamilyName_signUpDiv {
/*    position: absolute;
    top: 300px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_firstFamilyName_signUpInput {
/*    position: absolute;
    top: 300px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: gray;
    border: 0;
    align-content: center;*/
}

#user_secondFamilyName_signUpDiv {
/*    position: absolute;
    top: 350px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_secondFamilyName_signUpInput {
/*    position: absolute;
    top: 350px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 30px;
    color: gray;
    border: 0;*/
/*    background-color: rgba(255, 255, 255, 0.5);
    align-content: center;*/
}


#user_location_signUpDiv {
/*    position: absolute;*/
    width: 100%;
    height: 700px;
    /*background-color: yellowgreen;*/
    background-color: rgba(255, 255, 255, 0.5);
}


#user_biography_signUpDiv {
/*    position: absolute;
    top: 600px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_biography_signUpTextarea {
/*    position: absolute;
    top: 600px;
    left: 120px; 
    
    text-align: left;
    height: 200px;
    color: gray;
    border: 0;*/
/*    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    align-content: center;*/
}

#user_profilePhoto_signUpDiv {
/*    position: absolute;
    top: 820px;
    left: 0px; 
    width: 120px;
    text-align: right;*/
}

#user_profilePhoto_signUpInput {
/*    position: absolute;
    top: 820px;
    left: 120px; 
    width: 300px;
    text-align: left;
    height: 50px;
    color: gray;
    border: 0;*/
/*    background-color: rgba(255, 255, 255, 0.5);
    align-content: center;*/
}

#user_profilePhoto_signUpOutput {
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 100%;
    text-align: left;
    color: gray;
    /*background-color: pink;*/
    text-align: center;
}

#save_signUpDiv {
/*    position: absolute;
    top: 1120px;
    left: 120px;
    cursor:pointer;
    padding:5px;
    width:60px;
    height:30px;*/
    position: absolute;
    top: 10px;
    right: 10px;
    padding:5px;
    width:60px;
    height:30px;
    background-color: white;
    color: #1ab7ea;
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
    align-content: center;
}

#save_signUpDiv:hover {
    /*position: absolute;*/
    background-color: #1ab7ea;
    /*opacity: 0.7;*/
    color: white;
    transition-property: all;
    transition-duration: 0.2s;
    opacity: 1;
}