{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <body id="bfgbfg" style="overflow: hidden;
          background-color: white;" 
          data-id3='1234'>
        
        <div id="window_background">
        </div>
        
        <div id='emergentWindow'>
        </div>
    </body>
{% endblock %}