<div id="cbdhjbcdsjhcdsjknjk">
    cdhjcdnsjk
</div>

{#{{ include('@Shipping/Default/packageMessenger_menu.html.twig') }}#}
{{ include('@Shipping/Default/packageMessenger_list.html.twig') }}

<script>
    
    $("#cbdhjbcdsjhcdsjknjk")
    .click(function () {
        var new_env = "cbdhjbcdsjhcdsjknjk";
        var environment = "idfs_5";
        change_location_environment(new_env, environment);
    });
    
</script>