<style>
    #a_1 {
        {#position: absolute;#}
        top: 0px;
        left: 0px;
        width: 300px;
        height: max-content;
        background-color: yellow;
    }
</style>

<div id="a_1">
    a
</div>

<script>
    
</script>