<style>
    #b_2 {
{#        position: absolute;#}
        top: 0px;
        left: 0px;
        width: 300px;
        height: max-content;
        background-color: red;
    }
</style>

<div id="b_2">
    b
</div>

<script>
    
</script>