<style>
    #c_3 {
        {#position: absolute;#}
        top: 0px;
        left: 0px;
        width: 300px;
        height: max-content;
        background-color: gray;
    }
</style>

<div id="c_3">
    c
</div>

<script>
    
</script>