<style>
    #d_4 {
        {#position: absolute;#}
        top: 0px;
        left: 0px;
        width: 300px;
        height: max-content;
        background-color: purple;
    }
</style>

<div id="d_4">
    d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br>d<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<script>
    
</script>