<style>
    #e_5 {
        {#position: absolute;#}
        top: 0px;
        left: 0px;
        width: 300px;
        height: max-content;
        background-color: orangered;
    }
</style>

<div id="e_5">
    e
</div>

<script>
    
</script>